:root {
   --green: #00ebc7;
   --red: #ff5470;
   --yellow: #fde24f;
   --black: #1b2d45;
   --darkBlue: #00214d;
   --grey: #bfbfbf;
   --lightGrey: #f2f4f6;

   --background: var(--lightGrey);
   --textColor: var(--black);
}

body {
   background: var(--background);
   color: var(--textColor);
}

.dark {
   --background: var(--black);
   --textColor: var(--lightGrey);
}
